[Unit]
Description=AgroDrone flightplan retrieving service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=sr-design
ExecStart=/usr/bin/python3 flightplan.py
WorkingDirectory=/home/sr-design/AgroDrone-Edge-Node/src
EnvironmentFile=.env

[Install]
WantedBy=multi-user.target